.main {
    background-color: #f0f0f0;
    padding: 64px 18px;
    .restaurants{
        .restaurants__title{
            padding: 0 16px 32px 0;
            font-size: 32px;
            font-weight: 800;
        }
    }
}