.header {
    padding: 0 0 4rem 0;
    .site__title{
        text-align: center;
        padding: 1.2rem 0;
        font-size: 2.2em;
        font-weight: 900;
        font-family: 'Shrikhand', cursive;
        box-shadow: 0 0 .7rem .2rem rgb(148, 148, 148);
        width: 100%;
        background-color: white;
        position: relative;
        z-index: 999;
    }
    .location{
        text-align: center;
        padding: 1.2rem;
        background-color: rgb(218, 218, 218);
        font-weight: 600;
        color: #424242;
        span{
            margin-right: 18px;
        }
    }
    .intro{
        background-color: rgb(240, 239, 239);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 10% 15%;
        .intro__title{
            font-size: 1.3em;
            font-weight: 800;
            margin-bottom: 40px;
        }
        .intro__text{
            text-align: center;
            margin-bottom: 4rem;
            color: gray;
        }      
        
    }
    .help{
        .help__title{
            font-size: 1.6em;
            font-weight: 800;
            width: 100%;
            margin-top: 4rem;
            margin-left: 1.6rem;
        }
        .help__steps ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem 1.2rem 2rem 2rem;
            overflow: hidden;
            .step{
                position: relative;
                width: 100%;
                padding: 20px 0;
                box-shadow: 0 0 .8rem rgba(134, 134, 134, 0.432);
                border-radius: 50px;
                margin-top: 30px;
                line-height: 40px;
                font-size: 1.1em;
                font-weight: 600;
                display: flex;
                align-items: center;
                transition: all .4s ease-in-out;
                .number{
                    display: inline-block;
                    height: 2rem;
                    width: 2rem;
                    background-color: #9356DC;
                    text-align: center;
                    line-height: 2rem;
                    color: white;
                    font-weight: 500;
                    border-radius: 50%;
                    margin-left: -1rem;
                    margin-right: 2rem;
                    transition: all .4s ease-in-out;
                }
                &.active{
                    .fas{
                        color: #9356DC;
                    }
                    background-color: #9256dc1c;
                }
                .fas{
                    color: gray;
                    font-size: 1.1em;
                    margin-right: 1.5rem;
                    
                }
                &:hover .number{
                    box-shadow: 0 0 10px gray;
                    transform: scale(1.1);
                }
                &:hover{
                    transform: translateY(-5px) scale(1.03);
                    box-shadow: 0 .1rem .2rem .2rem rgba(167, 167, 167, 0.699);
                }
                
            }
        }
    }
}