.header {
  padding: 0 0 64px 0;
}

.header .site__title {
  text-align: center;
  padding: 19px 0;
  font-size: 35px;
  font-weight: 900;
  font-family: 'Shrikhand', cursive;
  -webkit-box-shadow: 0 0 11px 3px #949494;
          box-shadow: 0 0 11px 3px #949494;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 999;
}

.header .location {
  text-align: center;
  padding: 19px;
  background-color: #dadada;
  font-weight: 600;
  color: #424242;
}

.header .location span {
  margin-right: 18px;
}

.header .intro {
  background-color: #f0efef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 15%;
}

.header .intro .intro__title {
  font-size: 21px;
  font-weight: 800;
  margin-bottom: 40px;
}

.header .intro .intro__text {
  text-align: center;
  margin-bottom: 64px;
  color: gray;
}

.header .help .help__title {
  font-size: 26px;
  font-weight: 800;
  width: 100%;
  margin-top: 64px;
  margin-left: 26px;
}

.header .help .help__steps ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 19px 32px 32px;
  overflow: hidden;
}

.header .help .help__steps ul .step {
  position: relative;
  width: 100%;
  padding: 20px 0;
  -webkit-box-shadow: 0 0 0.8rem rgba(134, 134, 134, 0.432);
          box-shadow: 0 0 0.8rem rgba(134, 134, 134, 0.432);
  border-radius: 50px;
  margin-top: 30px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header .help .help__steps ul .step .number {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-color: #9356DC;
  text-align: center;
  line-height: 32px;
  color: white;
  font-weight: 500;
  border-radius: 50%;
  margin-left: -16px;
  margin-right: 32px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header .help .help__steps ul .step.active {
  background-color: #9256dc1c;
}

.header .help .help__steps ul .step.active .fas {
  color: #9356DC;
}

.header .help .help__steps ul .step .fas {
  color: gray;
  font-size: 18px;
  margin-right: 24px;
}

.header .help .help__steps ul .step:hover .number {
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .help .help__steps ul .step:hover {
  -webkit-transform: translateY(-5px) scale(1.03);
          transform: translateY(-5px) scale(1.03);
  -webkit-box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(167, 167, 167, 0.699);
          box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(167, 167, 167, 0.699);
}

.main {
  background-color: #f0f0f0;
  padding: 64px 18px;
}

.main .restaurants .restaurants__title {
  padding: 0 16px 32px 0;
  font-size: 32px;
  font-weight: 800;
}

.restaurant__card {
  position: relative;
  display: block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1.3rem;
  -webkit-box-shadow: 0 0 0.8rem rgba(134, 134, 134, 0.432);
          box-shadow: 0 0 0.8rem rgba(134, 134, 134, 0.432);
}

.restaurant__card:hover {
  -webkit-transform: translateY(-5px) scale(1.01);
          transform: translateY(-5px) scale(1.01);
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
}

.restaurant__card.new::after {
  content: 'New';
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #99e2d0;
  color: #2b816c;
  padding: 8px 25px;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 3px;
}

.restaurant__card .image1, .restaurant__card .image2, .restaurant__card .image3, .restaurant__card .image4 {
  width: 100%;
  height: 13rem;
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.restaurant__card .image2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: center;
  background-position-y: 60%;
}

.restaurant__card .image3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: bottom;
}

.restaurant__card .image4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.restaurant__card .restaurant__card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.restaurant__card .restaurant__card-body .text, .restaurant__card .restaurant__card-body .like {
  margin: 20px 15px;
}

.restaurant__card .restaurant__card-body .text .restaurant__card-title, .restaurant__card .restaurant__card-body .like .restaurant__card-title {
  font-size: 1.2em;
  font-weight: 700;
}

.restaurant__card .restaurant__card-body .text .restaurant__card-location, .restaurant__card .restaurant__card-body .like .restaurant__card-location {
  font-size: 1.3em;
  font-weight: 300;
  color: gray;
  margin-top: 5px;
}

.restaurant__card .restaurant__card-body .like {
  display: block;
}

.group__item {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 15px #c4c4c4;
          box-shadow: 0 0 15px #c4c4c4;
  overflow: hidden;
  opacity: 0;
  position: relative;
  top: 20px;
  height: 72px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
}

.group__item .group__item__description {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}

.group__item .group__item__description .group__item__description__text {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.group__item .group__item__description .group__item__description__text h3 {
  font-weight: 800;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.group__item .group__item__description .group__item__description__text p {
  font-size: 14px;
  white-space: nowrap;
  font-size: 14px;
  text-overflow: ellipsis;
  color: #4e4e4e;
  overflow: hidden;
}

.group__item .group__item__description .group__item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 700;
  font-size: 14px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.group__item .group__item__selected {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  display: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0;
  overflow: hidden;
  color: white;
  font-size: 26px;
}

.group__item .group__item__selected span {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.group__item:hover {
  -webkit-box-shadow: 0 0 10px #99E2D0;
          box-shadow: 0 0 10px #99E2D0;
}

.group__item:hover .group__item__description {
  width: 75%;
}

.group__item:hover .group__item__description .group__item__description__text {
  width: 75%;
}

.group__item:hover .group__item__description .group__item__price {
  width: 50px;
}

.group__item:hover .group__item__selected {
  width: 25%;
}

.group__item:hover .group__item__selected span {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.footer {
  background-color: #535353;
  color: white;
  padding: 1.2rem;
}

.footer .footer__title {
  font-size: 1.4em;
  font-family: 'Shrikhand', cursive;
}

.footer .footer__list {
  margin-top: 16px;
  font-size: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .footer__list li {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer .footer__list li:hover {
  color: #FF79DA;
}

.footer .footer__list li span {
  font-size: .9em;
  display: inline-block;
  width: 15px;
  margin-right: 12px;
}

@media (min-width: 1200px) {
  .footer .footer__title {
    text-align: center;
  }
  .footer .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 30px;
  }
  .footer .footer__list li {
    margin: 15px;
  }
}

.group__item {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 15px #c4c4c4;
          box-shadow: 0 0 15px #c4c4c4;
  overflow: hidden;
  opacity: 0;
  position: relative;
  top: 20px;
  height: 72px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
}

.group__item .group__item__description {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}

.group__item .group__item__description .group__item__description__text {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.group__item .group__item__description .group__item__description__text h3 {
  font-weight: 800;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.group__item .group__item__description .group__item__description__text p {
  font-size: 14px;
  white-space: nowrap;
  font-size: 14px;
  text-overflow: ellipsis;
  color: #4e4e4e;
  overflow: hidden;
}

.group__item .group__item__description .group__item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 700;
  font-size: 14px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.group__item .group__item__selected {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  display: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0;
  overflow: hidden;
  color: white;
  font-size: 26px;
}

.group__item .group__item__selected span {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.group__item:hover {
  -webkit-box-shadow: 0 0 10px #99E2D0;
          box-shadow: 0 0 10px #99E2D0;
}

.group__item:hover .group__item__description {
  width: 75%;
}

.group__item:hover .group__item__description .group__item__description__text {
  width: 75%;
}

.group__item:hover .group__item__description .group__item__price {
  width: 50px;
}

.group__item:hover .group__item__selected {
  width: 25%;
}

.group__item:hover .group__item__selected span {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu__header {
  position: relative;
  padding: 0;
  margin: 0;
}

.menu__header h1.site__title {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  font-size: 2.5em;
  padding: 20px 0;
  font-weight: 800;
  font-family: 'Shrikhand', cursive;
}

.menu__header .back {
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99999;
}

.menu__header .back a {
  display: inline-block;
}

.menu__header .back a:hover {
  color: #9356DC;
}

.menu__header .back a span {
  font-size: 1.6em;
  font-weight: 800;
}

.menu__header .back a:hover::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-animation: grow .3s ease;
          animation: grow .3s ease;
}

.menu__main {
  padding: 0;
  margin: 0;
  background-color: #f3f2f2;
  overflow: hidden;
}

.menu__main .image {
  height: 300px;
  background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.menu__main .image.alafrancaise {
  background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.menu__main .image.gourmand {
  background-image: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.menu__main .image.enchanted {
  background-image: url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.menu__main .menu {
  padding: 0 16px;
  margin-top: -50px;
  border-radius: 40px 40px 0 0;
  background-color: #f3f2f2;
}

.menu__main .menu header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.menu__main .menu header h2 {
  font-style: italic;
  font-weight: 900;
  font-size: 2em;
  font-family: 'Shrikhand', cursive;
  margin-left: 8px;
}

.menu__main .menu header .like {
  margin-right: 2rem;
}

.menu__main .menu .group {
  margin-top: 25px;
}

.menu__main .menu .group h2 {
  font-size: 1.6em;
  color: #575757;
  position: relative;
  padding-bottom: 12px;
  display: inline-block;
}

.menu__main .menu .group h2::after {
  position: absolute;
  content: '';
  width: 50%;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #99E2D0;
  border-radius: 4px;
}

.menu__main .menu .button__order {
  text-align: center;
  padding: 30px;
}

.menu__main .menu .button__order .order {
  padding: 15px 70px;
}

.group__item.item1 {
  animation: fade-in 1s  ease-in-out forwards;
  -webkit-animation: fade-in 1s  ease-in-out forwards;
  -moz-animation: fade-in 1s  ease-in-out forwards;
}

.group__item.item2 {
  animation: fade-in 1s .2s ease-in-out forwards;
  -webkit-animation: fade-in 1s .2s ease-in-out forwards;
  -moz-animation: fade-in 1s .2s ease-in-out forwards;
}

.group__item.item3 {
  animation: fade-in 1s .4s ease-in-out forwards;
  -webkit-animation: fade-in 1s .4s ease-in-out forwards;
  -moz-animation: fade-in 1s .4s ease-in-out forwards;
}

.group__item.item4 {
  animation: fade-in 1s .6s ease-in-out forwards;
  -webkit-animation: fade-in 1s .6s ease-in-out forwards;
  -moz-animation: fade-in 1s .6s ease-in-out forwards;
}

.group__item.item5 {
  animation: fade-in 1s .8s ease-in-out forwards;
  -webkit-animation: fade-in 1s .8s ease-in-out forwards;
  -moz-animation: fade-in 1s .8s ease-in-out forwards;
}

.group__item.item6 {
  animation: fade-in 1s 1s ease-in-out forwards;
  -webkit-animation: fade-in 1s 1s ease-in-out forwards;
  -moz-animation: fade-in 1s 1s ease-in-out forwards;
}

.group__item.item7 {
  animation: fade-in 1s 1.2s ease-in-out forwards;
  -webkit-animation: fade-in 1s 1.2s ease-in-out forwards;
  -moz-animation: fade-in 1s 1.2s ease-in-out forwards;
}

.group__item.item8 {
  animation: fade-in 1s 1.4s ease-in-out forwards;
  -webkit-animation: fade-in 1s 1.4s ease-in-out forwards;
  -moz-animation: fade-in 1s 1.4s ease-in-out forwards;
}

.group__item.item9 {
  animation: fade-in 1s 1.6s ease-in-out forwards;
  -webkit-animation: fade-in 1s 1.6s ease-in-out forwards;
  -moz-animation: fade-in 1s 1.6s ease-in-out forwards;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed,
figure, figcaption, footer, header,
menu, nav, output, section, summary, time {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: .9em;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  overflow: hidden;
}

.hide_element {
  display: none;
}

/*body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 100;
   line-height: 1.7;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    font-style: italic;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   font-style: italic;
   font-size: 2.75rem;
}*/
/*# sourceMappingURL=styles.css.map */