.restaurant__card{
    position: relative;
    display: block;
    transition: all .3s ease-in-out;
    &:hover{
        transform: translateY(-5px) scale(1.01);
        box-shadow: 0 0 10px gray;
    }
    &.new::after{
        content:'Nouveau';
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: rgb(153,226,208);
        color: rgb(43, 129, 108);
        padding: 8px 20px;
        font-size: 1.2em;
        font-weight: 700;
        border-radius: 3px;
    }
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.3rem;
    
    box-shadow: 0 0 .8rem rgba(134, 134, 134, 0.432);
    .image1, .image2, .image3, .image4{
        width: 100%;
        height: 13rem;
        background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }
    .image2{
        background-image: url('../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
        background-position: center;
        background-position-y: 60%;
    }
    .image3{
        background-image: url('../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
        background-size: cover;
        background-position: bottom; 
        
    } 
    .image4{
        background-image: url('../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
    }
    .restaurant__card-body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        .text, .like{
            margin: 20px 15px;
            .restaurant__card-title{
                font-size: 1.2em;
                font-weight: 700;
                
            }
            .restaurant__card-location{
                font-size: 1.3em;
                font-weight: 300;
                color: gray;
                margin-top: 5px;
            }
            
        }
        .like{
            display: block;
        }
        
    }
}